{% extends 'base.html' %}

{% block title %}
    一无所知小白龙|{{ page_title }}
{% endblock %}

{% block nav_login_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">

                <div class="panel panel-default">
                    <div class="panel-heading">{{ form_title }}</div>
                    <div class="panel-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if not field.is_hidden %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% endif %}

                                {{ field }}
                                <p class="text-danger">{{ filed.errors.as_text }}</p>
                            {% endfor %}
                            <span class="text-danger pull-left">{{ login_form.non_field_errors }}</span>
                            <input type="submit" class="btn btn-primary pull-right" value={{ submit_text }}>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}